
body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;
}
.heading
{
    background-color: #E3FDFD;
    position: relative;
    padding-top: 100px;
}
h1
{   font-size: 562.5%;
    margin-top: 50px;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
}
h2
{   color: #66BFBF;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom:10px ;
}
h3
{
    font-family: 'Montserrat',sans-serif;
    margin: auto;
}
.bottom-cloud
{
    position: absolute;

}
.top-cloud
{
    position: absolute;
    top:50px;
}
.profile img{
 height: 50%;
}
.middle-container
{
    margin:100px 0;
}
.bottom-container
{
    background-color: #66BFBF;
    padding:50px 0 20px;
    margin-bottom: 0px;
}
p
{
    line-height: 2;
}
skill-row
{
    width: 50px;
    margin: 10px auto 10px auto;
    text-align: left;
    
}
.skill-1
{   width: 10%;
    clear: left;
    margin-left: 5px;
    
    
}
.skill-2
{   width: 10%;
    clear:right;
    padding-top: 30px;
    
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  hr
  {
    border: none;
    border-top: dotted;
    border-color:#EAF6F6 ;
    margin: 100px auto;
    width: 5%;
    border-width: 5px;
  }
  .contact-me
  {
    width: 40%;
    margin: 40px auto 100px;
  }
  a
  {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

  }
  a:hover
  {
    color:#EAF6F6;
  }
  .copy-right
  {
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
  }
  .photography
  {
    width:45%;
    margin: auto;
  }
  .coding
  {
    width:45%;
    margin: auto;
  }

.table
{
    text-align: center;
    margin-top: 50x;
    margin-bottom: 45px;
    /* padding-left: 500px; */
    /* padding-right: 500px; */
    font-family: 'Merriweather',serif;
    color: #40514E;
    border-collapse: separate;
    border-spacing: 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}
td
{
  margin-left:auto; 
  margin-right:auto;
  padding: 5px;
  height: 3vh;
  
}
.me-auto
{
  list-style: none;
}
.d-flex
{
  list-style: none;
}
 /* .col
{
 display: inline-flex;
 justify-content: space-between;
 padding: 50px;
 
} */
.language-and-tools
{
  margin-bottom:-100px;
}
.Latest-Works
{
  text-align: center;
}


*{
  /* margin: 0;
  padding: 0; */
  /* font-family: 'Poppins',sans-serif; */
  font-family: 'Merriweather',serif;
  box-sizing: border-box;
}

.timeline
{
  position: relative;
  max-width: 900px;
  margin: 100px auto;

}
.container
{
  padding: 10px 50px;
  position: relative;
  width:50%;
  animation: movedown 1s linear forwards;
  opacity: 0;

}
@keyframes movedown
{
  0%
  {
      opacity: 1;
      transform:translateY(-30px) ;
  }
  100%
  {
      opacity: 1;
      transform: translateY(0px);
  }
}
.container:nth-child(1)
{
  animation-delay: 1s;
}
.container:nth-child(2)
{
  animation-delay: 2s;
}
.container:nth-child(3)
{
  animation-delay: 3s;
}
.container:nth-child(4)
{
  animation-delay: 4s;
}

.textbox
{
  padding:20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size:15px;
}
.left-container
{
  left: 0;
}
.right-container
{
  left: 50%;
}
.container img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;

}

.right-container img{
  left: -20px;
} 

.timeline::after{
  content: '';
  position:absolute;
  width: 6px;
  height: 100%;
  background: #337c93;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline
{
  0%
  {
      height: 0;
  }
  100%{
      height: 100%;
  }
}
.textbox{
  font-weight: 600;
}
.textbox small{
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid  #576569;
  right: -15px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid  #58676c;
  left: -15px;
}
@media screen and(max-width:600px){
  .timeline{
      margin: 50px auto;
  }
  .timeline::after
  {
      left: 31px;
  }
  .container
  {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
  }
  .textbox{
      font-size: 13px;
  }
  .textbox small
  {
      margin-bottom: 10px;
  }
  .right-container{
      left:0;
  }

  .left-container img,.right-container img{
      left:10px
  }
  .left-container-arrow,.right-container-arrow
  {
      border-right: 15px solid #58676c;
      border-left:0;
      left: 25px;
      
  }
}
.profile img{
  width: 20%;
  clear: left;
  margin-left: 5px;
}